$card-color: #F8F8FF; // ghostWhite
$table-hover: #d4ebfa; // azure 
$table-header: #FFF; // White
$table-body: #FFF; // White
$div-body: #DCDCDC; //gainsboro
$icon-palette: (icon-black: #000000,
  icon-red: #ff0000,
  icon-green: #006400,
  icon-blue: #0000CD,
  icon-gray: #babaca) !default;

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif !important;
}


.icon-gold {
  color: #DAA520;
}

.icon-red {
  color: #ff0000;
}

.icon-green {
  color: #006400;
}

.icon-blue {
  color: #0052cd;
}

.icon-cyan {
  color: #00BFFF;
}

.icon-gray {
  color: #708090;
}

p {
  font-family: 'Questrial', sans-serif;
}

mat-form-field {
  font-family: 'Questrial', sans-serif !important;
  padding: 15px;
}

mat-icon {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

mat-expansion-panel {
  border-radius: 0px !important;

  &:hover {
    background-color: $table-hover;
    cursor: pointer;
  }

}

mat-expansion-panel-header {
  padding: 0 10px;
}

mat-panel-title {
  font-family: 'Questrial', sans-serif !important;
  font-size: 12px !important;

}


div>div {
  font-family: 'Questrial', sans-serif !important;
  font-size: 13px !important;
}


.fundos {
  padding-left: 2px;
}

.orama-body {
  background-color: $div-body;
}

.orama-div-h {
  height: 300px;
}

.orama-header {
  height: 340px;
  background-position: inherit;
  top: -55px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("src/assets/img/orama-bg.jpeg");
}

.orama-logo-header {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  background-color: #000;
  background-repeat: no-repeat;
  background-image: url("src/assets/img/orama.png");
}

.orama-text-header {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 48%;
  line-height: 0;
  transform: translate(-50%, -50%);
  color: white;
  //   font-family: 'Poppins'!important;
}

.orama-table {
  font-size: 13px !important;
  // border: 1px solid $table-body;
  padding: 3px;
  font-family: 'Questrial', sans-serif;
  border-left-width: 7px;

  table {

    tr,
    td
      {
      background-color: $table-body !important;
    }
  }


  thead {
    background-color: $table-header !important;
    font-weight: bolder;

    tr {
      margin-bottom: 0px;
      margin-top: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  tbody {
    background-color: $table-body;

  }

  #collapse {
    td {
      background-color: $table-body !important;
    }

    &:hover {
      background-color: $table-hover;
    }
  }
}

#indicadoresFundos {
  p>i {
    font-size: 20px;
  }
}

.risco-1 {
  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: #bcebfb;

}

.risco-2 {
  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: #9ef1dd;
}

.risco-3 {
  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: #b0ec76;
}

.risco-4 {
  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: #c5f447;
}

.risco-5 {
  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: #e3f43b;
}

.risco-6 {
  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: #f7f03b;
}

.risco-7 {
  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: #f5db33;
}

.risco-8 {
  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: #eeba2b;
}

.risco-9 {
  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: #e48720;
}

.risco-10 {
  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: #df5e16;
}

.risco-11 {
  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: #db0e00;
}

.risco-12 {
  border-left-style: solid;
  border-left-width: 7px;
  border-left-color: #9b1b1b;


}



.bg-gray {
  background-color: #babaca;
  color: #000;
  font-weight: bold;
}
