p,
button {
  font-family: 'Questrial', sans-serif;
}

.mx-auto{
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}

.text-white{
  color: #fff;
  font-weight: 700;
}
